* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  img {
    margin-left: 10px;
    height: 150px;
    width: 150px
  }

  p {
    margin-left: 10px;
    padding: 10px;
  }

  h1 + img {
    /* border: 1px solid black; */
    height: 300px;
    width: 300px;
  }

  .ingredients, .steps {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px
  }

  tr:nth-of-type(even) {
    background-color: rgb(205, 225, 212);
  }

  th {
    background-color: rgb(141, 184, 157);
  }

  li {
    margin-left: 60px;
  }

  ol :last-child {
    margin-bottom: 15px;
  }


  #recipes {
    /* border: 10px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
  }

  .recipe {
    /* border: 1px solid red; */
    margin: 20px
  }

  h3 > a {
    text-decoration: none;
    color: rgb(50, 155, 50)
  }

  footer {
    /* display: inline-block; */
    background-color: rgb(88, 127, 29);
    font-size: 18px ;
    font-weight: bold;
    color:rgb(232, 237, 226);
    padding: 15px
  }

  header {
      /* display: inline-block; */
      background-color: rgb(88, 127, 29);
      font-size: 16px ;
      font-weight: bold;
      color:rgb(232, 237, 226);
      padding: 10px
  }

  h1 {
    /* display: inline-block; */
    /* background-color: rgb(88, 127, 29); */
    font-size: 38px ;
    font-weight: bold;
    color:rgb(65, 106, 14);
    padding: 15px
}
